[2020-04-23 06:26] kkartunov opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-04-23 08:22] kkartunov opened #2 "[$100]SRM Editorials Formatting #9"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-23 08:25] kkartunov opened #3 "[$100]SRM Editorials Formatting #10"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-24 07:44] #2 closed

[2020-04-24 07:44] kkartunov opened #4 "[$125]SRM Editorials Formatting #9"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-24 07:46] kkartunov commented on #4
Contest https://www.topcoder.com/challenges/30122984 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-24 07:58] #3 closed

[2020-04-24 07:58] kkartunov opened #5 "[$100]SRM Editorials Formatting #10"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-24 08:01] kkartunov commented on #5
Contest https://www.topcoder.com/challenges/30122987 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-24 08:02] kkartunov commented on #4
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-24 08:03] kkartunov commented on #5
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-24 08:08] narekcat commented on #4
Hello @kkartunov . I want to work on this issue.

[2020-04-24 08:12] kkartunov commented on #4
@narekcat please go ahead. You have 36h on this ticket. Thanks

[2020-04-24 08:12] kkartunov commented on #4
Contest https://www.topcoder.com/challenges/30122984 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-24 08:12] narekcat commented on #4
@kkartunov  Ok thank you too.

[2020-04-24 08:28] mark-nakachon commented on #5
@kkartunov please assign me this

[2020-04-24 08:30] kkartunov commented on #5
Thanks, @mark-nakachon please go-ahead.

[2020-04-24 08:30] kkartunov commented on #5
Contest https://www.topcoder.com/challenges/30122987 has been updated - it has been assigned to harishchennupa.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-24 13:01] kkartunov opened #6 "[$100]SRM Editorials Formatting #11"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-24 13:06] kkartunov commented on #6
Contest https://www.topcoder.com/challenges/30123029 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-24 13:10] kkartunov commented on #6
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-24 13:12] Gauravseta commented on #6
@kkartunov pls assign me

[2020-04-24 13:20] kkartunov commented on #6
@Gauravseta please go-ahead...

[2020-04-24 13:20] kkartunov commented on #6
Contest https://www.topcoder.com/challenges/30123029 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-25 10:27] Gauravseta commented on #6
@kkartunov i am on windows 10 and I understand what needs to be done as previously I have worked on it, so I have made files similar to previous ones. but also I cant see any math setting options in windows 10 as above description shows mac screenshots. so I have assumed and made file similar to previous tickets i have worked on. I hope it is ok

[2020-04-25 15:01] kkartunov commented on #6
Yes @Gauravseta you correct. Similar output is what is expected here.

MathJax is not present on all pages so it is possible yours do not have it thus it is good.

[2020-04-25 20:52] kkartunov commented on #4
@narekcat time on ticket is 36h. We even have more so far. Are you working/ready? Please submit in 1h or will need to unassign you.

[2020-04-25 20:54] kkartunov commented on #5
@mark-nakachon  time on ticket is 36h. We even have more so far. Are you working/ready? Please submit in 1h or will need to unassign you.

[2020-04-25 22:03] kkartunov commented on #4
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-25 22:04] Gauravseta commented on #6
@kkartunov

space id: nlkvh731e9ie
Content Delivery API  : cIXO9tyPhdxnGPbJgJLPVSYnDs98NCKYFcvXIUGkEoU
Content Preview API : HKP3GC4DzzXJylcaaEl7-AfxPrgjYPtFuePB7aN7_Qg

[submission-contentful-gauravseta.zip](https://github.com/topcoder-platform/contentful-ops/files/4534177/submission-contentful-gauravseta.zip)

[2020-04-25 22:04] Gauravseta commented on #6
@kkartunov it is ready

[2020-04-25 22:04] kkartunov commented on #5
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-25 22:07] kkartunov commented on #6
Thanks @Gauravseta. Will review...
If you want to check there are more tickets open for pickup...

[2020-04-25 22:10] Gauravseta commented on #6
@kkartunov kindly come to slack I have already messaged you

[2020-04-26 01:36] quyjs commented on #4
@kkartunov can I have it? Thanks :)

[2020-04-26 03:13] mark-nakachon commented on #5
@kkartunov  actually completed everything but the scope is somewhat big here . I will submit within 3 hrs please assign this to me

[2020-04-26 03:38] mark-nakachon commented on #5
and this one has no content what should this be
https://apps.topcoder.com/wiki/display/tc/SRM+501

and some pages don't have links to the problem statements

[2020-04-26 03:40] quyjs commented on #4
I will start to work on it after ten hours. Because I am working on another project.
Please assign to me if no one take it.
Thanks

[2020-04-26 06:16] kkartunov commented on #5
@mark-nakachon we can leave empty for cases like 501.

You can find the links to the problem statement from the match overview page.

[2020-04-26 06:17] kkartunov commented on #5
Are you going to submit?

[2020-04-26 06:18] kkartunov commented on #4
@quyjs please go ahead

[2020-04-26 06:18] mark-nakachon commented on #5
@kkartunov yes I'm going to submit has a power issue here will definitely submit today

[2020-04-26 06:18] kkartunov commented on #4
Contest https://www.topcoder.com/challenges/30122984 has been updated - it has been assigned to quyjs.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-26 18:01] quyjs commented on #4
Hi @kkartunov,
I am working on another challenge and I haven't finish it yet. It takes more time than estimated.
https://www.topcoder.com/challenges/30122876

I will go back to work on this ticket when completed
In this time, if any one wants to work on it. Feel free to take it.

[2020-04-26 18:06] rashmi73 commented on #4
@kkartunov Kindly assign it to me thank you. I will begin working right away

[2020-04-26 19:42] mark-nakachon commented on #5
@kkartunov here's the file https://drive.google.com/file/d/1xpkJsVcvXfz0xs7z835GjeA1KQjHswfR/view?usp=sharing

Actually it took me so much time to do this, Somewhat more content in these files
please make the prize to $150 for my efforts on this

[2020-04-27 04:22] kkartunov commented on #4
Thank You @rashmi73. Please go ahead...

[2020-04-27 04:23] kkartunov commented on #4
Contest https://www.topcoder.com/challenges/30122984 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 08:18] kkartunov commented on #5
@mark-nakachon your submission is missing 6 entries. I see only 24 Articles but there should be 30. Please, before asking for money see to accomplish the task as per requirements.
![Screenshot from 2020-04-27 11-14-32](https://user-images.githubusercontent.com/5585002/80349859-8b22fb00-8878-11ea-84f7-c4d4416011be.png)
.

Add missing entries asap and resubmit.

[2020-04-27 08:25] kkartunov commented on #6
@Gauravseta importing your file results in this error:
![Screenshot from 2020-04-27 11-23-34](https://user-images.githubusercontent.com/5585002/80350577-9de9ff80-8879-11ea-8616-5895d3cc8c95.png)

I see only 17 articles but there should be 22 as per scope. Probably those 5 that fail?
Please, fix the error and resubmit asap.

[2020-04-27 08:39] mark-nakachon commented on #5
@kkartunov  those 6 entries are not being published due to this reason
The maximum text length is exceeding the maximum amount of characters

see this

![Selection_142](https://user-images.githubusercontent.com/42904380/80351870-a7329680-8890-11ea-8ccc-d2a3c29992f8.png)

[2020-04-27 08:47] Gauravseta commented on #5
@kkartunov such same issues in my file too? what to do in such case?

[2020-04-27 09:02] kkartunov commented on #5
@mark-nakachon @Gauravseta
Do not publish entries but export them as drafts. This will solve the issue for export. You can do it with `contentful space export --space-id XXX --mt XXX --content-file ./XXX.json --include-drafts true`

[2020-04-27 09:05] Gauravseta commented on #5
@kkartunov yes include drafts was present in my command though "true" was not present in my command, it was just "--include-drafts" but i feel it would still give an error

[2020-04-27 09:13] kkartunov opened #7 "[$100] SRM Editorials Formatting #12"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-27 09:16] kkartunov commented on #5
It will not error @Gauravseta. Please export with that command and report your status

[2020-04-27 09:17] kkartunov commented on #7
Contest https://www.topcoder.com/challenges/30123379 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 09:17] Gauravseta commented on #5
@kkartunov as you say I will export a new file and give it to you but i have already checked the content its still same thing being exported.

[2020-04-27 09:18] kkartunov commented on #7
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 09:20] PrakashDurlabhji commented on #7
@kkartunov Kindly assign me thanks

[2020-04-27 09:23] kkartunov commented on #7
@PrakashDurlabhji please go ahead. Check the requirements before starting!

[2020-04-27 09:24] kkartunov commented on #7
Contest https://www.topcoder.com/challenges/30123379 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 09:25] #1 closed

[2020-04-27 09:26] Gauravseta commented on #6
@kkartunov here is new zip file
[submission1-contentful-gauravseta.zip](https://github.com/topcoder-platform/contentful-ops/files/4538696/submission1-contentful-gauravseta.zip)

[2020-04-27 09:36] kkartunov opened #8 "[$125] SRM Editorials Formatting #13"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-27 09:38] kkartunov commented on #8
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 09:40] Gauravseta commented on #8
@kkartunov give it to me

[2020-04-27 09:40] kkartunov commented on #8
Contest https://www.topcoder.com/challenges/30123383 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 09:46] kkartunov commented on #6
@Gauravseta I still see the same error. Have fixed what is requested?

[2020-04-27 09:49] kkartunov commented on #6
@Gauravseta I also do not see the **image assets uploaded**. Have you read the spec at all?

[2020-04-27 09:50] Gauravseta commented on #6
@kkartunov as we discussed on another ticket,

here is command which i used to export it.

contentful space export --space-id XXX --mt XXX --content-file ./XXX.json --include-drafts true

and file is submtted

[2020-04-27 09:50] kkartunov commented on #8
@Gauravseta no before you fix your other open ticket that has issues.

[2020-04-27 09:51] Gauravseta commented on #6
@kkartunov regarding images, images are directly linked can be seen clearly as done previously. I will upload it as u say, but I feel images are perfectly visible as of now

[2020-04-27 09:56] kkartunov commented on #6
@Gauravseta
- I do not see those 5 entries when I import your file thus can't accept it. I am using `--skip-content-publishing true` but still get this error. I guess we will need to split then to part 1,2 to overcome this limitation. Please, do so.
- It is in scope to upload images present in articles. So yes I do say you should do it.

Thank You

[2020-04-27 10:06] Gauravseta commented on #6
@kkartunov

so  SRM 508 has max characters issue,

1. so now i need to create a new article "SRM 508 Part 2"  and paste half the contents in it?

2. also original file name is "SRM 508" so need to change it to now "SRM 508 part 1".

is this expected with all files?

[2020-04-27 10:11] kkartunov commented on #6
@Gauravseta yes, please. We will split those > 50000chars in 2 parts.

[2020-04-27 12:12] mark-nakachon commented on #5
@kkartunov here's the new file you can use
https://drive.google.com/file/d/1p69GUZo5xa0b0k5hPveWepQjgXR0imx_/view?usp=sharing

[2020-04-27 14:53] PrakashDurlabhji commented on #7
@kkartunov sorry but u can open it for others thank you

[2020-04-27 15:03] kkartunov commented on #5
@mark-nakachon submission has issues:
- Still see the error. Please, split articles with men > 50000 to two parts https://github.com/topcoder-platform/contentful-ops/issues/6#issuecomment-619880194
![Screenshot from 2020-04-27 18-00-13](https://user-images.githubusercontent.com/5585002/80387454-567f6580-88b1-11ea-852b-669e8cd09336.png)
- Have you uploaded images to Contentful? In spec we have:

Pl

[2020-04-27 15:06] PrakashDurlabhji commented on #7
@iversionlv u can take it if u want

[2020-04-27 15:08] Gauravseta commented on #6
@kkartunov done from my side. uploading new zip which has images uploaded and part 1/2 as well

[2020-04-27 15:14] iversonLv commented on #7
@kkartunov Can I try it?
Thanks

[2020-04-27 15:14] kkartunov opened #9 "[$125] SRM Editorials Formatting #14"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-27 15:25] kkartunov opened #10 "[$125] SRM Editorials Formatting #15"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-27 15:27] kkartunov opened #11 "[$125] SRM Editorials Formatting #16"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-27 15:28] kkartunov commented on #10
Contest https://www.topcoder.com/challenges/30123450 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 15:29] kkartunov opened #12 "[$100] SRM Editorials Formatting #17"
This is a follow-up to challenge https://www.topcoder.com/challenges/30122094. Please, read its spec first for details and context what needs to be done here.

**Additional notes to challenge spec:**
- The source pages are little different layout but the general purpose is the same: to extract the content and properly transfer it to Thrive article matching [this example](https://drive.google.com/f

[2020-04-27 15:30] kkartunov commented on #11
Contest https://www.topcoder.com/challenges/30123451 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 15:31] kkartunov commented on #12
Contest https://www.topcoder.com/challenges/30123452 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 15:44] kkartunov commented on #4
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 15:44] kkartunov commented on #7
@iversonLv yes, please go-ahead. Thank You

[2020-04-27 15:45] kkartunov commented on #7
Contest https://www.topcoder.com/challenges/30123379 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-27 15:45] kkartunov commented on #8
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 15:45] kkartunov commented on #9
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 15:45] Gauravseta commented on #6
[submission2-contentful-gauravseta.zip](https://github.com/topcoder-platform/contentful-ops/files/4540640/submission2-contentful-gauravseta.zip)

[2020-04-27 15:45] kkartunov commented on #10
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 15:45] kkartunov commented on #11
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 15:46] kkartunov commented on #12
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-04-27 15:53] kkartunov commented on #6
@Gauravseta thanks. Will review...
Do you want to work on https://github.com/topcoder-platform/contentful-ops/issues/8? If so please request there again. Thanks

[2020-04-27 16:03] iversonLv commented on #7
@kkartunov if the SRM chars are exceeded, how should I do?
![image](https://user-images.githubusercontent.com/4952611/80393796-92cbb980-88e3-11ea-9b6d-9ca9695f2d20.png)

[2020-04-27 16:18] iversonLv commented on #7
I think this won't need it, right?
They are useless
![image](https://user-images.githubusercontent.com/4952611/80395393-b2fc7800-88e5-11ea-808d-0dba0f3f5544.png)

[2020-04-27 16:57] mark-nakachon commented on #10
@kkartunov please assign this to me . After completing #5

[2020-04-27 17:17] quyjs commented on #4
Hi @kkartunov I have finished the challenge.
Please assign this ticket to me.
Thanks

[2020-04-27 19:16] mark-nakachon commented on #5
@kkartunov here's the new file https://drive.google.com/file/d/18NIy46r6irR8EBXhYaEqEkpG0DNZ8UhK/view?usp=sharing

[2020-04-28 06:08] kkartunov commented on #7
@iversonLv
- if > 50000 please split into two articles. For instance SRM XXX - Part 1 and SRM XXX - Part 2
- yes, not needed this section in red on your image. Please, do **not** add it to content.

[2020-04-28 06:16] kkartunov commented on #12
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors prize increased to this one.

[2020-04-28 06:17] kkartunov commented on #11
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors prize increased for this ticket.

[2020-04-28 06:18] kkartunov commented on #10
@mark-nakachon prize increased for this ticket. Please go ahead...

[2020-04-28 06:18] kkartunov commented on #10
Contest https://www.topcoder.com/challenges/30123450 has been updated - it has been assigned to harishchennupa.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 06:18] kkartunov commented on #9
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors prize increased for this ticket.

[2020-04-28 06:18] kkartunov commented on #8
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors prize increased for this ticket.

[2020-04-28 06:19] kkartunov commented on #4
@quyjs prize increased for this ticket. Go ahead...

[2020-04-28 06:19] kkartunov commented on #4
Contest https://www.topcoder.com/challenges/30122984 has been updated - it has been assigned to quyjs.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 06:21] kkartunov commented on #9
Contest https://www.topcoder.com/challenges/30123551 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 07:25] iversonLv commented on #7
@kkartunov

1 Can't not submit txt at https://www.topcoder.com/challenges/30122094?tab=details
2 BTW, when should I provide the export json file? Here or?

[2020-04-28 07:33] iversonLv commented on #8
@kkartunov Can I get this? I have finished https://github.com/topcoder-platform/contentful-ops/issues/7

[2020-04-28 07:33] iversonLv commented on #7
Ready for review.

[2020-04-28 07:46] iversonLv commented on #7
Critical issue: I import the provided json, but all of them do not have creation date, I believe the date format in excel is wrong by previous google sheet scaper member? How could I export entries as DRAFT state?
![image](https://user-images.githubusercontent.com/4952611/80460705-cc91d400-8966-11ea-9992-9fed5e5e0454.png)

![image](https://user-images.githubusercontent.com/4952611/80460889-0794078

[2020-04-28 07:47] iversonLv commented on #7
Ok I found the command line at another ticket
--include-drafts true

[2020-04-28 07:51] iversonLv commented on #7
https://drive.google.com/file/d/1lZJVKlRcMrl2CW8K4IKiLgG6Rh0jplQD/view?usp=sharing
this is my export file

[2020-04-28 07:52] iversonLv commented on #7
total 38, 33articles, 3 are part2
![image](https://user-images.githubusercontent.com/4952611/80461625-22b34700-8968-11ea-8eb9-9c404b154021.png)

[2020-04-28 07:54] rashmi73 commented on #9
@kkartunov Kindly assign me this

[2020-04-28 10:37] narekcat commented on #11
Hello @kkartunov . I couldn't find enough time to complete previous issue, sorry for that. But now I have much more free time. Can you assign this issue to me ?

[2020-04-28 10:38] kkartunov commented on #9
Contest https://www.topcoder.com/challenges/30123551 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 10:39] kkartunov commented on #8
@iversonLv yes please

[2020-04-28 10:39] kkartunov commented on #8
Contest https://www.topcoder.com/challenges/30123383 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 10:41] kkartunov commented on #11
@narekcat okay. Please inform us early when you plan to skip tickets...

[2020-04-28 10:41] kkartunov commented on #11
Contest https://www.topcoder.com/challenges/30123451 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 10:43] narekcat commented on #11
@kkartunov okay. I will definitely inform you. Thanks.

[2020-04-28 10:57] PrakashDurlabhji commented on #12
@kkartunov i would like to work on it

[2020-04-28 14:21] kkartunov commented on #12
@PrakashDurlabhji okay go ahead

[2020-04-28 14:21] kkartunov commented on #12
Contest https://www.topcoder.com/challenges/30123452 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 15:03] quyjs commented on #4
@kkartunov I have finished it!
1. I have checked all links and removed the broken links.
In SRM 460 https://apps.topcoder.com/wiki/display/tc/SRM+460.
Link to the member adrianoo07 - http://www.topcoder.com/tc?module=MemberProfile&tab=alg&cr=22766988 show 404 status page. So I removed the link.

2. upload all images to contentful.
There is a broken image in SRM 469, So I removed it:
https://apps.t

[2020-04-28 15:08] quyjs commented on #10
@kkartunov @mark-nakachon please assign it to me if it's open for pick up again, thanks.

[2020-04-28 15:10] quyjs commented on #11
@kkartunov @narekcat Please give it to me if it could not be done :)

[2020-04-28 15:11] narekcat commented on #11
@quyjs - I am working on it.

[2020-04-28 23:01] PrakashDurlabhji commented on #12
@kkartunov inprogress

[2020-04-29 01:52] mark-nakachon commented on #10
@kkartunov https://apps.topcoder.com/wiki/display/tc/SRM+644 SRM 644 is not opening is SRM 644 present if yes please update here the correct link

[2020-04-29 05:19] iversonLv commented on #8
@kkartunov
https://apps.topcoder.com/wiki/display/tc/SRM+575
Top summary area, such table is HTML + Style, how should we do for it? Snap a screesnhot? Skip it?
![image](https://user-images.githubusercontent.com/4952611/80562945-eccf9a80-8a1b-11ea-95d1-1496d5339c87.png)

[2020-04-29 05:42] mark-nakachon commented on #10
@kkartunov https://apps.topcoder.com/wiki/display/tc/SRM+641 on clicking on problem links any link is not opening and problem names are different too please check these

[2020-04-29 07:52] kkartunov commented on #4
Thank You @quyjs ! Will review and give feedback soon...

[2020-04-29 07:53] kkartunov commented on #8
@iversonLv let's have it as screenshot image uploaded. Thanks much

[2020-04-29 07:57] kkartunov commented on #10
@mark-nakachon
- let's skip 644
- for 641 extract only the one working problem
thanks

[2020-04-29 08:49] Gauravseta commented on #6
@kkartunov can you please review it? If any feedback so i can implement it immediately

[2020-04-29 10:12] iversonLv commented on #8
@kkartunov
Ready for review
https://drive.google.com/file/d/1mOVDxwLhaGhZQPv_nBBI6GOmx--IfeFT/view?usp=sharing

[2020-04-29 14:03] quyjs commented on #9
@rashmi73 are you working on it?
Is it ok? Please assign it to me if you can't complete it :)

[2020-04-29 14:05] narekcat commented on #11
Hello @kkartunov . I am still working on this issue. I'll done in next 12 hours.

[2020-04-29 14:15] rashmi73 commented on #9
@quyjs yes actively working on it and I will complete it in 4 hrs from now

[2020-04-29 14:31] iversonLv commented on #7
@kkartunov
I do some update, please use this. Initial json file I forget to upload image to contentful space
Thanks.
https://drive.google.com/file/d/112_4JBQwwInLqvdBRhG1pAyG5-lI6xFT/view?usp=sharing

[2020-04-29 14:44] iversonLv commented on #7
![image](https://user-images.githubusercontent.com/4952611/80609719-077d3000-8a6b-11ea-8b50-c20d25f42e81.png)

[2020-04-29 18:16] PrakashDurlabhji commented on #12
@kkartunov sorry kindly unassign me, others can take it if they want.

@iversonLv

[2020-04-29 18:19] iversonLv commented on #12
@kkartunov can I try

Thanks.

[2020-04-29 19:55] mark-nakachon commented on #10
@kkartunov here's the file

https://drive.google.com/file/d/1qdPB4VUPZ0T_bSPPyB7Qji2Ho-DT0LId/view?usp=sharing

if any issues are open please assign those to me

[2020-04-29 22:30] kkartunov commented on #12
@PrakashDurlabhji this is officially your last warning about dropping tickets!
@iversonLv please go-ahead

[2020-04-29 22:31] kkartunov commented on #12
Contest https://www.topcoder.com/challenges/30123452 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-29 22:35] PrakashDurlabhji commented on #12
@iversonLv apology but my PC hangs by opening 4 tabs simultaneously, fortunately previous issues were completed as it did not require much tabs and were completed after struggling but this issue required to many changing of tabs and copy pasting. hence I left it midway. It wont be repeated apology again

[2020-04-29 22:45] rashmi73 commented on #9
@quyjs you can take it as mathjax conversions text is causing a huge delay.

[2020-04-30 00:08] quyjs commented on #9
thanks @rashmi73.
@kkartunov please assign it to me.

[2020-04-30 01:32] narekcat commented on #11
@kkartunov . I have done with this issue, but there are some issues:
1. SRM 677, problem PalindromePath, code hasn't start
2. SRM 678, problem ANewHope, missing images
3. SRM 679, problem ForbiddenStreets, code hasn't start
[submission-srm649-679.zip](https://github.com/topcoder-platform/contentful-ops/files/4555670/submission-srm649-679.zip)

[2020-04-30 07:06] quyjs commented on #9
Yes, this is the very hard one, because the code written with synxtax hightlighter.
It takes time to convert. May I ask for increasing the prize?
Just asking for it! I will get it done even if the prize can't be increased.

[2020-04-30 07:07] iversonLv commented on #12
@kkartunov Ready for review
https://drive.google.com/file/d/1cJJSVAYbqPhWWMcJDLZ6_2y45NRzUTFA/view?usp=sharing

![image](https://user-images.githubusercontent.com/4952611/80681947-38ee0e00-8af4-11ea-9b2f-05bb17e7f208.png)

[2020-04-30 07:29] kkartunov commented on #9
Contest https://www.topcoder.com/challenges/30123551 has been updated - it has been assigned to quyjs.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-30 07:30] kkartunov commented on #9
Thank You @quyjs
The prize was already increased one time thus can't do more.

[2020-04-30 09:41] kkartunov commented on #4
@quyjs there are some issues with submission:
- please use 1 new line after lists, images, tables and new paragraphs. We can't accept bad formating like
![image](https://user-images.githubusercontent.com/5585002/80695380-7f387280-8ade-11ea-98d5-672cace2b676.png)
- code blocs have invalid escaped characters
sourece
![image](https://user-images.githubusercontent.com/5585002/80695844-2a492c00-8adf-11

[2020-04-30 09:48] quyjs commented on #4
@kkartunov I will update it.

[2020-04-30 09:53] kkartunov commented on #5
@mark-nakachon good work on this. Some minor issues:
- Please, remove occurrences of
[code]
it is obviously not worth importing them to articles.
- please be consistent with new lines, always. We do not want entries like:
![image](https://user-images.githubusercontent.com/5585002/80697357-844af100-8ae1-11ea-842b-39513aabd9b2.png)
when standard is
![image](https://user-images.githubusercontent.com/

[2020-04-30 10:06] kkartunov commented on #6
@Gauravseta submission has issues:
- it is not matching example markdown and it is rendering differently
![image](https://user-images.githubusercontent.com/5585002/80698459-2e774880-8ae3-11ea-8d11-75cb0c61958a.png)
- code blocks are not wrapped in 3x\` or \` for <pre>

[2020-04-30 10:13] Gauravseta commented on #6
@kkartunov update you in sometime

[2020-04-30 13:57] mark-nakachon commented on #5
@kkartunov should I do the same for #10

[2020-04-30 15:37] quyjs commented on #9
Ah!!! wait! I found this submission contains same issues with #4. Let me fix them first!

[2020-04-30 18:47] narekcat commented on #11
@kkartunov . I updated my submission, I forgot to upload images. Please review this submission. Thanks.
[submission-srm649-679_with_uploaded_images.zip](https://github.com/topcoder-platform/contentful-ops/files/4560565/submission-srm649-679_with_uploaded_images.zip)

[2020-04-30 19:56] mark-nakachon commented on #5
@kkartunov fixed minor issues
here's the file you can review https://drive.google.com/file/d/10nn2ka7ljLHud85h26M1WJsxhl3bwTJj/view?usp=sharing

and please increase the payment here, as I requested

[2020-04-30 21:23] kkartunov commented on #5
@mark-nakachon yes, do the same for #10 if you know it has similar issues.
No payment increase possible.
Thanks, reviewing...

[2020-05-01 01:21] quyjs commented on #4
@kkartunov I have fixed the issues in this ticket.
https://drive.google.com/file/d/12GuHwvLCaEi6VaI0NgFTSZrIuMaOetAO/view?usp=sharing

[2020-05-01 01:22] Gauravseta commented on #6
@kkartunov 5 are still remaining update you in a while rest are completed in this.
[submission3-contentful-gauravseta.zip](https://github.com/topcoder-platform/contentful-ops/files/4562114/submission3-contentful-gauravseta.zip)

[2020-05-01 05:59] quyjs commented on #9
@kkartunov it's ready for review now.
https://drive.google.com/file/d/1y4CaKEV5HSHugBExL7_CpEs-HUuNMno1/view?usp=sharing

<img width="233" alt="Screenshot 2020-05-01 at 12 50 20 PM" src="https://user-images.githubusercontent.com/63595876/80785753-8f6a5380-8bab-11ea-9a51-7ed3fb8f0441.png">

[2020-05-01 10:56] kkartunov commented on #7
Very good work @iversonLv, Thank You!

[2020-05-01 10:56] #7 closed

[2020-05-01 10:56] kkartunov commented on #7
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123379<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-01 20:57] mark-nakachon commented on #10
@kkartunov here's the new file with changes requested by you in #5

https://drive.google.com/file/d/1bPA2CtlR6wLmLiqN0WC6W_EapX_B9eNf/view?usp=sharing

[2020-05-01 22:36] kkartunov commented on #8
@iversonLv good work. Can you check for https://github.com/topcoder-platform/contentful-ops/issues/12 if you added the dates? I have to add them manually on this export. You know why?

[2020-05-01 22:36] #8 closed

[2020-05-01 22:36] kkartunov commented on #8
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123383<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-01 22:40] kkartunov commented on #12
https://github.com/topcoder-platform/contentful-ops/issues/8#issuecomment-622595708

[2020-05-01 22:41] iversonLv commented on #8
the date does not in the provided Json because the date initial is not Js format which by previous google sheet task member.?

[2020-05-01 22:41] kkartunov commented on #6
@Gauravseta ready? What mean 5 remain? Submit all in 12h or I will unassign you from this one. Thank You.

[2020-05-01 23:46] quyjs commented on #6
Please assign it to me if @Gauravseta can't complete it. Thanks

[2020-05-02 01:10] Gauravseta commented on #6
@kkartunov yes I am working actively. @quyjs its all completed and I lost my work improvements midway on different tabs

[2020-05-02 03:14] iversonLv commented on #12
@kkartunov Yes, for this ticket, creation date is here because the google sheet date is correct JS format

[2020-05-02 03:16] iversonLv commented on #8
![image](https://user-images.githubusercontent.com/4952611/80853843-3c090b80-8c66-11ea-91ea-421e8da8bfd8.png)
![image](https://user-images.githubusercontent.com/4952611/80853854-4a572780-8c66-11ea-9c28-669fed86979d.png)

[2020-05-02 03:16] iversonLv commented on #8
These null creation date is from import json

[2020-05-02 09:32] Gauravseta commented on #6
@kkartunov all code has are in 3x` and there are some code statements which are not in code block on original page itself and those are just pure text statements explaining it. hence u may have felt that codes are not written in ``` by me. but actually everything is in proper 3x`.

Kindly request you to point a particular file as it will help me in resolving it immediately because I guess some mis

[2020-05-02 11:47] Gauravseta commented on #6
@kkartunov yes regarding 3x` blocks.

1.I see in SRM 510 I havent converted pre block to "```" because then boldness of characters would be lost.
2. Also main page doesnt have a block for it, rather its just in plain simple text with bold font hence it is kept same.

waiting for your comment, rest everything is completed

[2020-05-02 12:16] Gauravseta commented on #6
@kkartunov here is latest file with all things perfectly with 3x` and table formatting. waiting for feedback if any.
[submission4-contentful-gauravseta.zip](https://github.com/topcoder-platform/contentful-ops/files/4567656/submission4-contentful-gauravseta.zip)

[2020-05-02 22:27] Gauravseta commented on #6
@kkartunov waiting for feedback if any

[2020-05-03 13:11] kkartunov commented on #12
Thank You @iversonLv. This is now done.

[2020-05-03 13:11] #12 closed

[2020-05-03 13:12] kkartunov commented on #12
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123452<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-03 13:25] Gauravseta commented on #6
@kkartunov can you please review mine I dont wish to lose it

[2020-05-03 14:25] kkartunov commented on #4
Good work @quyjs. Thank You. This is now done.

[2020-05-03 14:25] #4 closed

[2020-05-03 14:26] kkartunov commented on #4
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122984<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-03 15:59] kkartunov commented on #5
Thank You @mark-nakachon! Good job, this is now done.

[2020-05-03 15:59] #5 closed

[2020-05-03 15:59] kkartunov commented on #5
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122987<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-04 06:18] kkartunov commented on #10
@mark-nakachon submission has issues to fix:

- missing images that need to be uploaded on 618 & 646
- broken formatting on tables for multiple entries
![Screenshot from 2020-05-04 09-12-31](https://user-images.githubusercontent.com/5585002/80940281-fecc8700-8de7-11ea-9e79-f216d3493ac5.png)
- Need to test all entries on preview as opening some of them (621, ...) results in
![Screenshot from 2020-0

[2020-05-04 07:20] mark-nakachon commented on #10
@kkartunov I too don't know the reason opening some entries resulting in cannot read property 1 of null. How should I fix these

[2020-05-04 07:56] kkartunov commented on #11
@narekcat very good work. Thank You!
This is now done.

[2020-05-04 07:56] #11 closed

[2020-05-04 07:56] kkartunov commented on #11
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123451<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-04 07:58] narekcat commented on #11
@kkartunov You are welcome.

[2020-05-04 08:25] quyjs commented on #10
@mark-nakachon The content contains invalid markdown format, I think.

[2020-05-04 09:13] kkartunov commented on #9
@quyjs it looks there are 2 articles in the submission that are > 50000 characters. You need to please split them into parts. Use SRM XXX Part 1 and rest would be SRM XXX Part 2.
![Screenshot from 2020-05-04 12-08-52](https://user-images.githubusercontent.com/5585002/80951442-963dd400-8e00-11ea-83e4-6be9af1aa9d3.png)

Resubmit asap.
Thank you

[2020-05-04 09:51] kkartunov commented on #6
@Gauravseta submission still has issues:

- Should use **markdown** as shown in the example and **only when necessary** HTML
`<p> Slimes can have pretty much any shape. So, I took this opportunity to (blatantly?) put a prefix of my name in the images :D (dolphi anyone?). Yay. </p>`
  - should not have/use `<p>...`
  - should not have that white space infront
- Space between title and table now is

[2020-05-04 09:55] kkartunov commented on #10
@mark-nakachon yes @quyjs is right. It is some broken HTML or markdown you have used. Should find it and correct it to remove `annot read property 1 of null`. **Test all your articles if they open or not.**

[2020-05-04 10:05] Gauravseta commented on #6
@kkartunov
**Should use markdown as shown in the example and only when necessary HTML**
confused with this  statement.

u mean I should remove all <p> tags?
but that looks same in HTML, if i remove <p> tags then i need to add spaces in markdown which would be again same, hence I feel <p is better as it does same task and also can u please tell which SRM this line belongs to? I can see the page to

[2020-05-04 10:10] quyjs commented on #9
@kkartunov this is my new submission!
https://drive.google.com/file/d/1yT428EWEZsAUtWtnGvbeV_FWGDwwAQWR/view?usp=sharing

[2020-05-04 13:50] kkartunov commented on #6
- Yes, we prefer markdown thus remove HTML tags as much as possible. If you can't achieve it with markdown leave the tags.
- Spaces for tables, okay.
@Gauravseta ^^^

[2020-05-04 19:29] mark-nakachon commented on #10
@kkartunov here's the file with requested changes

https://drive.google.com/file/d/1d96RkUKc5fA9lI1acN76-oJVU08nNcz2/view?usp=sharing

[2020-05-04 21:14] Gauravseta commented on #6
@kkartunov

**If you can't achieve it with markdown leave the tags**

I guess u wrongly typed it and u mean to say If you can achieve it with markdown leave the tags correct?

[2020-05-04 21:25] kkartunov commented on #9
@quyjs thank you. This is now done.

[2020-05-04 21:25] #9 closed

[2020-05-04 21:26] kkartunov commented on #9
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123551<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-04 21:46] kkartunov commented on #6
@Gauravseta no, I typed correctly. It means for you to use HTML tags only if you can't produce the desired output with markdown.

[2020-05-04 21:49] Gauravseta commented on #6
@kkartunov just some more time and will remove all p tags whereever possible

[2020-05-04 23:21] Gauravseta commented on #6
@kkartunov
[submission5-contentful-gauravseta.zip](https://github.com/topcoder-platform/contentful-ops/files/4578255/submission5-contentful-gauravseta.zip)

[2020-05-05 09:00] kkartunov commented on #10
@mark-nakachon this is now done. Thank you.

[2020-05-05 09:00] #10 closed

[2020-05-05 09:00] kkartunov commented on #10
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123450<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-05 09:12] kkartunov commented on #6
@Gauravseta still there are many issues with submission.

- HTML tags present
- Bad formating

Thank You for your hard work on this but unfortunately, I have to unassign you due to failure to complete.

[2020-05-05 09:13] kkartunov commented on #6
@topcoder-platform/thrive-writers @topcoder-platform/topcodercompetitors this is now open for working. Please, request an assignment here. Thank You!

[2020-05-05 09:14] iversonLv commented on #6
can i try？

[2020-05-05 09:18] kkartunov commented on #6
@iversonLv yes, please.

[2020-05-05 09:19] kkartunov commented on #6
Contest https://www.topcoder.com/challenges/30123029 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-05 09:19] Gauravseta commented on #6
@kkartunov HTML tags are absent. let me check with the file i uploaded

[2020-05-05 09:21] Gauravseta commented on #6
@kkartunov  can you please assign it back to me, there is surely some mistake in uploading .let me check, @iversonLv can you please give it back to me. everything was well completed.

[2020-05-05 09:22] iversonLv commented on #6
@kkartunov if @Gauravseta could submit asap It is fine.

Good luck guys.

[2020-05-05 09:23] kkartunov commented on #6
@iversonLv his file is still having HTML tags and issues. Please, proceed.

[2020-05-05 09:25] Gauravseta commented on #6
@iversonLv HTML tags are removed that I can assure , but formatting issues? I do not understand this.

Each and every paragraph are perfectly formatted. can you please guide me on this what is wrong in that

[2020-05-05 09:26] kkartunov commented on #6
@Gauravseta NO.

[2020-05-05 09:29] iversonLv commented on #6
@kkartunov ok, i am working. Thanks

[2020-05-05 09:41] Gauravseta commented on #6
@kkartunov dont know what has exactly gone wrong, I was myself waiting for review and asking for a review since a week, and finally I am unassigned. Thanks

[2020-05-05 09:55] kkartunov commented on #6
@Gauravseta the reason is that you failed to complete.  I have given you enough opportunities to fix your errors but you still have not done so. I end now this discussion as we all waisted enough time on this!
![Screenshot from 2020-05-05 12-52-03](https://user-images.githubusercontent.com/5585002/81054442-89d47c80-8ecf-11ea-9778-10a9fb124447.png)
- still `<p>` tags present were they not needed
-

[2020-05-05 10:03] Gauravseta commented on #6
@kkartunov regarding tags, a wrong file is attached by me which has tags in it, I can upload a new file nowitself which will solve tags issue.

but formatting I am shocked on that as data can be perfectly seen, regarding no new line between paragraph and images, do you see everything on a single line in final output? I dont think so, because everything looks fine on final output on screen even tho

[2020-05-05 12:54] iversonLv commented on #6
@kkartunov do you face problem with http://local.topcoder-dev.com:3000/??
![image](https://user-images.githubusercontent.com/4952611/81068170-7f87a200-8f12-11ea-8db8-67dcd0a42943.png)

[2020-05-05 13:20] kkartunov commented on #6
@iversonLv you need to pull and merge latest master. There was critical fix for this from the weekend.

[2020-05-05 15:05] iversonLv commented on #6
@kkartunov Works, thanks.

[2020-05-05 15:31] iversonLv commented on #6
@kkartunov BTW, though this ticket is 22SRMS however it's not easier than others but $75, I hope prize could raise little bit,

Thanks.

[2020-05-05 22:19] kkartunov commented on #6
@iversonLv increased to $100. Fair to do it as we did for the others.

[2020-05-06 06:17] iversonLv commented on #6
@kkartunov Ready for review
https://drive.google.com/file/d/1Pzp58cpNcp-IH4ClNPNQAk56fOtyBx8g/view?usp=sharing

![image](https://user-images.githubusercontent.com/4952611/81143350-3e3fd280-8fa4-11ea-8ef0-3515615699d2.png)

[2020-05-06 17:19] kkartunov commented on #6
@iversonLv there ware some images missing in upload but I fixed this so we could have here completed.

[2020-05-06 17:19] #6 closed

[2020-05-06 17:19] kkartunov commented on #6
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123029<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```